html {
    font-size: 0.14rem;
    font-family: "Microsoft YaHei";
}

html,
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar-track {
    background-color: rgb(33, 45, 53);
}

::-webkit-scrollbar {
    width: 0.08rem;
    height: 0.08rem;
    background-color: rgb(37, 94, 137);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(37, 94, 137);
}

.iframe {
    width: 100%;
    height: 100%;
}

//element-ui
.el-radio-group {
    .el-radio-button {
        .el-radio-button__orig-radio:checked + .el-radio-button__inner {
            background: rgb(51, 154, 239);
            color: #fff;
            font-weight: bold;
            text-shadow: 0.02rem 0.02rem 0.03rem rgba(0, 0, 0, 0.3);
        }

        .el-radio-button__inner {
            font-size: 0.12rem;
            background: rgb(70, 89, 104);
            border: none;
            padding: 0.06rem 0.12rem;
            color: rgb(175, 183, 188);
        }

        &:first-child {
            border-radius: 0.04rem 0 0 0.04rem;
        }

        &:last-child {
            border-radius: 0 0.04rem 0.04rem 0;
        }
    }
}
.el-collapse {
    border: none !important;
    .el-collapse-item__header {
        background: transparent;
        color: #fff;
        font-size: 0.15rem;
        height: 0.4rem;
        line-height: 0.4rem;
        border-bottom: 0.02rem solid rgb(48, 83, 105) !important;

        .el-collapse-item__arrow {
            color: rgb(83, 176, 234);
            font-weight: bold;
        }
    }

    .el-collapse-item__wrap {
        background: transparent;
        border-bottom: none;
        * {
            color: #fff;
        }

        .el-collapse-item__content {
            padding: 0.1rem 0 0 0;
        }
    }
}

.el-input {
    .el-input__suffix i {
        font-size: 0.14rem;
        line-height: 0.24rem;
        margin-right: 0.05rem;
        width: 0.14rem;
        text-align: center;
    }

    .el-input__inner {
        background: rgb(14, 19, 25);
        border-width: 0.01rem;
        border-color: rgb(60, 69, 76);
        border-radius: 0.04rem;
        padding: 0 0.06rem;
        height: 0.24rem !important;
        line-height: 0.24rem !important;
        // color: rgba(166, 221, 255, 0.7);
        color: rgb(166, 221, 255);
        font-size: 0.12rem;
        // font-weight: bold;

        &::-webkit-input-placeholder {
            color: rgb(60, 69, 76);
        }

        &:hover,
        &:active {
            border-color: rgb(60, 69, 76);
        }
    }
}

.el-select {
    .el-input {
        &.is-focus {
            .el-input__inner {
                border-color: rgb(60, 69, 76);
            }
        }

        .el-select__caret {
            font-size: 0.14rem;
            width: 0.14rem;
            opacity: 0.8;
            line-height: 0.24rem;
            vertical-align: middle;
            color: rgba(76, 164, 252, 1);
        }

        .el-icon-arrow-up {
            &:before {
                content: "\e78f";
            }
        }

        // .el-icon-circle-close {
        //     color: rgb(37, 111, 192);
        // }
    }
}

.el-select-dropdown {
    border-color: rgb(13, 23, 36) !important;
    border-width: 0.01rem;
    background: rgb(13, 23, 36) !important;
    border-radius: 0.08rem;

    .popper__arrow {
        display: none !important;
    }

    .el-select-dropdown__wrap {
        max-height: 2rem;
    }

    .el-select-dropdown__list {
        padding: 0.06rem 0;
    }

    .el-select-dropdown__item {
        color: rgba(166, 221, 255, 0.7);
        font-size: 0.12rem;
        padding: 0 0.2rem;
        height: 0.34rem;
        line-height: 0.34rem;

        &.hover {
            background-color: rgb(20, 48, 70);
        }
    }
}

.el-radio-button:first-child .el-radio-button__inner {
    border-left: none !important;
}
